// COLORS
$color-black: #000000;
$color-charcoal: #36454f;
$color-grey-light: #eeeeee;
$color-white: #fff;

$color-red-light: #ff182c;
$color-red-medium: #a8101d;
$color-red-dark: #53080f;

$color-blue-light: #3730ff;
$color-blue-medium: #0b099c;
$color-blue-dark: #050341;
