.section-projects {
  //background-image: linear-gradient(
  //  to right bottom,
  //  rgba($color-white, .8),
  //  rgba($color-red-light, .8)
  //);
  background-color: $color-grey-light;
  //background-image: linear-gradient(
  //  to right bottom,
  //  rgba($color-grey-light, 1),
  //  rgba($color-charcoal, 1),
  //  rgba($color-black, 1)
  //);

  overflow: hidden;
  padding: 20rem 0 15rem 0;
  margin-top: -28rem;
  height: 100%;
  //position: relative;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  .section-projects {
    margin-top: -24rem;
  }
}