.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;

  &__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background-color: $color-green-light;
    }

    &--back {
      transform: rotateY(180deg);
      background-color: $color-red-light;
    }
  }

  &__picture {
    position: absolute;
    width: 100%;
    height: 20rem;
    overflow: hidden;
  }

  &__title {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
    position: absolute;
    margin-top: 22rem;
    color: $color-black;
    width: 100%;
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}
