.footer {
  //background-image: linear-gradient(
  //  to right bottom,
  //  rgba($color-grey-light, 0.8),
  //  rgba($color-charcoal, 0.8),
  //  rgba($color-black, 0.8)
  //);

  background-image: linear-gradient(
      to right bottom,
      rgba($color-red-light, 0.8),
      rgba($color-red-medium, 0.8),
      rgba($color-red-dark, 0.8)
  );
  background-position: top;
  background-size: cover;
  border-bottom-left-radius: 3rem;
  -moz-border-radius-bottomleft: 3rem;
  -webkit-border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  -moz-border-radius-bottomright: 3rem;
  -webkit-border-bottom-right-radius: 3rem;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%);
  height: 35vh;
  margin-top: -33rem;

  &__text {
    color: $color-orangered;
    font-size: 6rem;
    text-align: center;
  }
}
