.footer {
  background-image: linear-gradient(
    to right bottom,
    rgba($color-grey-light, 0.8),
    rgba($color-charcoal, 0.8),
    rgba($color-black, 0.8)
  );

  clip-path: polygon(0 20vh, 100% 0, 100% 30vh, 0 30vh);
  -webkit-clip-path: polygon(0 20vh, 100% 0, 100% 30vh, 0 30vh);

  height: 30vh;
  position: absolute;
  bottom: 0;
  width: 100%;

  & .row.mobile {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 100%;
    transform: translateX(-90%);
    display: none;
  }

  &__text {
    //color: $color-orangered;
    //font-size: 3rem;
    //text-align: center;
    //position: absolute;
    //bottom: 0;
    //width: 25%;

    &-link,
    &-link:visited {
      //text-align: center;

      font-size: 3rem;
      color: $color-orangered;
      text-decoration: none;
      width: 25%;
    }
  }
}

@media screen and (min-width: 993px) {
  .footer {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .footer {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-blue-light, 0.8),
      rgba($color-blue-medium, 0.8),
      rgba($color-blue-dark, 0.8)
    );

    .row.mobile {
      display: block;
      font-size: 3rem;
    }
  }
}
