.navbar {
  background-image: linear-gradient(
    to right bottom,
    rgba($color-grey-light, 0.8),
    rgba($color-charcoal, 0.8),
    rgba($color-black, 0.8)
  );
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 0 15vh);
  -webkit-clip-path: polygon(0 0, 100% 0, 0 15vh);
  height: 15vh;
}
