.header {
  clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
  height: 50vh;
  background-image: linear-gradient(
    to right bottom,

    rgba($color-black, 1),
    rgba($color-charcoal, 1),
    rgba($color-grey-light, 1)

    //rgba($color-black, 1),
    //rgba($color-blue-medium, 1),
    //rgba($color-red-medium, 1),
    //rgba($color-orange-light, 1),
    //rgba($color-yellow-medium, 1)
    //url('https://i.imgur.com/K8Q2Jwi.png')
  );
  //background: url("https://i.imgur.com/K8Q2Jwi.png") top;
  background-size: cover;

  border-top-left-radius: 3rem;
  -moz-border-radius-topleft: 3rem;
  -webkit-border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  -moz-border-radius-topright: 3rem;
  -webkit-border-top-right-radius: 3rem;

  position: relative;

  &__header-row {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 100%;
  }

  &__animated {
    animation: moveInRight 5s ease-out;
  }

  &__text {
    font-size: 7rem;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    text-align: center;
  }
}

.header-projects {
  color: $color-charcoal;
  text-align: center;
  margin-bottom: 2rem;
  transition: all 2s ease;

  &:hover {
    color: $color-red-dark;
  }
}

@media screen and (max-width: 992px) {
  .header-projects {
    font-size: 6rem;
  }
}
