.navbar {
  background-image: linear-gradient(
    to right bottom,
    rgba($color-grey-light, 0.8),
    rgba($color-charcoal, 0.8),
    rgba($color-black, 0.8)
  );
  background-position: top;
  background-size: cover;
  //clip-path: polygon(0 0, 100% 0, 0 15vh);
  //-webkit-clip-path: polygon(0 0, 100% 0, 0 15vh);
   clip-path: polygon(0 0, 100% 0, 0 40vh);
  -webkit-clip-path: polygon(0 0, 100% 0, 0 40vh);

  height: 40vh;

  &__item {
    border-bottom: 1px solid $color-black;
    height: 90%;

    &-text {
      color: orangered;
      font-size: 3.5rem;
      text-decoration: none;
      transform: skew(30deg, -3deg);
    }
  }
}
