.navbar {
  //background-image: linear-gradient(
  //  to right bottom,
  //  rgba($color-grey-light, 0.8),
  //  rgba($color-charcoal, 0.8),
  //  rgba($color-black, 0.8)
  //);
  background-image: linear-gradient(
      to right bottom,
      rgba($color-blue-light, 0.8),
      rgba($color-blue-medium, 0.8),
      rgba($color-blue-dark, 0.8)
  );
  //background-position: top;
  //background-size: cover;
  //border-top-left-radius: 3rem;
  //-moz-border-radius-topleft: 3rem;
  //-webkit-border-top-left-radius: 3rem;
  //border-top-right-radius: 3rem;
  //-moz-border-radius-topright: 3rem;
  //-webkit-border-top-right-radius: 3rem;
  //clip-path: polygon(0 0, 100% -15vh, 100% 0, 100% 100%);
  //-webkit-clip-path: polygon(0 0, 100% -15vh, 100% 0, 100% 100%);

  //clip-path: polygon(0 15%, 100% 0, 100% 15%, 100% 100%);
  //-webkit-clip-path: polygon(0 15%, 100% 0, 100% 15%, 100% 100%);
  clip-path: polygon(0 25vh, 100% 0, 100% 25vh, 0 50vh);
  -webkit-clip-path: polygon(0 25vh, 100% 0, 100% 25vh, 0 50vh);

  height: 50vh;
  //height: 20rem;
  position: absolute;
  bottom: 0;
  //left: -3rem;
  //margin-top: -3rem;
  //margin-bottom: -30rem;
  width: 100%;
  //transform: skew(30deg, -6deg);

  &__item {
    //border-bottom: 1px solid $color-black;
    //height: 90%;
    //margin-top: 15rem;
    transform: skewY(-6deg);


    &-text {
      color: orangered;
      font-size: 3.5rem;
      margin-left: 5rem;
      text-decoration: none;
      //transform: skew(30deg, -3deg);

      &:not(:last-child) {
        border-right: 5px solid $color-black;
      }

    }
  }
}
