.navbar {
  margin-top: 10rem;

  &__item {
    outline-offset: .5rem;

    &-text {
      color: $color-orangered;
      font-size: 4.5rem;
      font-weight: 700;
      text-decoration: none;
      position: absolute;
      text-align: center;
      text-shadow: 2px 2px $color-black;
      text-transform: uppercase;
      transform: skew(-15deg, -8deg);
      transition: all .2s ease;

      &:hover {
        background-color: orange;
        outline: 1rem solid $color-blue-dark;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    margin-top: 1rem;
    margin-left: 0;

    &__item {

      &-text {
        position: relative; // TODO WBD this is a workaround until position: absolute; can work
      }
    }
  }
}
